html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li, form, label, footer, header,
nav, section  {
  	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

a:focus,
a:active,
a:hover {
    outline: none;
    color: #487922;
    text-decoration: none;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

form {
    margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}


input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #edf2f1;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

main {
	background: #fff;
	padding: 15px;
	border-left: 1px solid #b8b4b4;
	border-right: 1px solid #b8b4b4;
}

.container {
	width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

main, .site-content {
	background-color: #fff;
	padding: 30px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.calc-res {
	font-size: 1.2rem;
	list-style-type: none;
}

.calc-res li {
	margin: 10px 0;
}
